.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;

}
.logo{
    width: 150px;
    height: 90px;
}

.nav-items{
    padding: 0px 20px;
}
.nav-items>ul{
    display: flex;
    padding: 0px;
    list-style-type: none;
}

.nav-items>ul>li{
padding: 10px;
margin:10px;
}

.res-card{
    padding: 5px;
    margin:5px;
    width: 200px;
   
   
}

.res-card h4{
    white-space: normal;
  word-wrap: break-word; 
  word-break: break-word; 
}

.res-card:hover{
    border: 1px solid black;
}

.res-image{
    padding: 5px;
    width:170px;
    height: 100px;
    border: 1px solid black;
}


.res-container {
    display:flex;
   flex-wrap: wrap;
}

.filter-btn{
    margin: 5px;
    cursor: pointer;
}

.shimmer-container{
    display: flex;
flex-wrap: wrap;
}
.shimmer-card{
    margin: 20px;
    width: 180px;
    height: 400px;
    background-color: #f0f0f0;
}

.login{
    padding: 0 20px;
}

.search{
    display: flex;
    margin: 5px;
}